<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files For All</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}" />
    <script
      src="https://kit.fontawesome.com/cbec5c0848.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo2.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/timelinestyles.css')}}" />
    <!-- JQuery Plugin -->
    <script src="{{ url_for('static', filename='scripts/oridomi.min.js')}}"></script>
  </head>
  <body>
    <div class="hero-section">
      <video autoplay loop muted class="back-video">
        <source src="{{ url_for('static', filename='images/video-2.mp4')}}" type="video/mp4" />
      </video>
      <nav>
        <a href="/"><img src="{{ url_for('static', filename='images/logo2.png')}}" class="logo" alt="logo" /></a>
        <ul>
          <li><a href="/urlpage">Url Downloader</a></li>
          <li><a href="/fileconverter">File Converter</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </nav>
      <div class="content">
        <h1>About Us</h1>
        <a href="https://github.com/AmanW-GitHub">Current Portfolio</a>
      </div>
    </div>
    <!-- 
    https://niemvuilaptrinh.medium.com/27-html-timeline-for-web-design-979b8e5d1c05
    Used a medium website template for timeline! 
    This includes css/sass from the website and the following div element!
    -->
    <div class="container">
      <h2>Timeline of Files For All!</h2>
      <h4>"The journey of a thousand miles begins with one step." - Lao Tzu</h4>
      <ul class="timeline">
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>The Inception</summary>
            <p>
              Initially, when Files For All was conceived, the idea was simple -
              provide a comprehensive platform to access, manage, and download
              all file types seamlessly. This vision resonated deeply with our
              client's needs for an efficient and user-friendly interface to
              handle diverse file formats.
            </p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Growth and Development</summary>
            <p>
              As the website evolved, so did its capabilities. We strived to
              create a space where users could effortlessly find, convert, and
              organize their files. This aligned perfectly with our client's
              desire for a versatile platform catering to various file handling
              needs.
            </p>
          </details>
        </li>

        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Ongoing Improvement</summary>
            <p>
              Continuous enhancements and user feedback guided our journey. Our
              client's input was pivotal in shaping the website's ongoing
              improvements, ensuring it remained a go-to destination for all
              file-related needs.
            </p>
          </details>
        </li>
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Future Prospects</summary>
            <p>
              Looking ahead, Files For All continues to innovate, striving to be
              the ultimate solution for file handling. Our collaboration with
              our client has been instrumental in shaping a platform that meets
              and exceeds expectations.
            </p>
          </details>
        </li>
      </ul>
    </div>

    <section class="aboutmepage" id="about-section">
      <div class="shrink">
        <div class="text-lighten">
          <h2>Who am I?</h2>
          <p>I am the founder and coordinator at Files For All!</p>
          <img class="oriimage" src="{{ url_for('static', filename='images/IMG_6866.jpeg')}}" alt="oriimage"/>
        </div>
      </div>
    </section>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item p-2">
          <button class="btn btn-dark" id="html-validator">html validation</button>
        </li>
        <li class="nav-item p-2">
          <button class="btn btn-dark" id="css-validator">css validation</button>
        </li>
      </ul>
      <p class="text-center text-muted">© 2023 Waghchoure Designs</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/aboutus.js')}}"></script>
  </body>
</html>
