<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files For All</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" href="../styles/styles.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/logo2.png" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo2.png')}}" />
    <script
      src="https://kit.fontawesome.com/cbec5c0848.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".draggable").draggable();
      });
    </script>
  </head>
  <body>
    <div class="hero-section">
      <video autoplay loop muted class="back-video">
        <source src="{{ url_for('static', filename='images/video-2.mp4')}}" type="video/mp4" />
      </video>
      <nav>
        <a href="/"><img src="{{ url_for('static', filename='images/logo2.png')}}" class="logo" alt="logo"/></a>
        <ul>
          <li><a href="/urlpage">Url Downloader</a></li>
          <li><a href="/fileconverter">File Converter</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </nav>
      <div class="content">
        <h1>Home</h1>
        <a href="/urlpage">Url Downloader</a>
        <a href="/fileconverter">File Converter</a>
      </div>
    </div>
    <section class="howpage" id="how-section">
      <h1>What is our product?</h1>
      <p>We offer many crucial things to our users.</p>
      <div class="shrink">
        <div class="how-row">
          <div class="how-col draggable">
            <h3>Url Downloader</h3>
            <p>
              Easily download videos from the internet using just their URLs.
              Paste the link, choose your preferred format and quality, and get
              your video in no time. Access your favorite content offline
              hassle-free. Try our URL downloader today for a seamless video
              downloading experience! You will be amazed by the speed!
            </p>
          </div>
          <div class="how-col draggable">
            <h3>File Converter</h3>
            <p>
              Easily change file types by selecting your preferred options.
              Upload your file, choose the format you need, and convert it
              quickly and effortlessly. Our user-friendly interface ensures a
              smooth conversion process. Transform your files hassle-free and
              access them in the format you require. Try our file converter
              today for seamless file type conversions!
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="darker-bg">
      <section class="testimonials">
        <div class="text-lighten">
          <h1>What our users say!</h1>
          <p>Hopefully you can have the same experience.</p>
        </div>
        <div class="row">
          <div class="testimonial-col">
            <img src="{{ url_for('static', filename='images/user1.jpg')}}" alt="profile1"/>
            <div>
              <p>
                "I absolutely love this file converter tool! It's incredibly
                easy to use, and I can quickly change file types without any
                hassle. The interface is user-friendly, making the whole process
                seamless. Highly recommended!"
              </p>
              <h3>- Christine Berley</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="{{ url_for('static', filename='images/user2.jpg')}}" alt="profile2"/>
            <div>
              <p>
                "This converter is a game-changer! I've been able to convert my
                files effortlessly. It's so convenient to select the format I
                need and get the job done in no time. Definitely a must-have
                tool for anyone dealing with different file types!"
              </p>
              <h3>- David Byer</h3>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item p-2">
          <button class="btn btn-dark" id="html-validator">html validation</button>
        </li>
        <li class="nav-item p-2">
          <button class="btn btn-dark" id="css-validator">css validation</button>
        </li>
      </ul>
      <p class="text-center text-muted">© 2023 Waghchoure Designs</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/index.js')}}"></script>
  </body>
</html>
