<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files For All</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cbec5c0848.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../styles/magnific-popup.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/magnific-popup.css')}}">
    <!-- <link rel="stylesheet" href="../styles/styles.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/logo2.png" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo2.png')}}" />
</head>
<body>
    <div class="hero-section">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="{{ url_for('static', filename='images/urlbackground.mp4')}}" type="video/mp4">
        </video>
        <nav>
          <a href="/"><img src="{{ url_for('static', filename='images/logo2.png')}}" class="logo" /></a>
          <ul>
            <li><a href="/urlpage">Url Downloader</a></li>
            <li><a href="/fileconverter">File Converter</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/donate">Donate</a></li>
          </ul>
        </nav>
        <div class="content">
            <h1 id="url-text">Url Downloader</h1>
            <form class="search-bar" id="url-form">
              <label for="url-input"></label>
              <input type="text" placeholder="Input Url" name='q' id="url-input">
              <button type="submit" id="url-btn"><img src="{{ url_for('static', filename='images/search.png')}}"></button>
          </form>
            <div id="successPopup" style="display:none"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none"></div>
        </div>
    </div>
    <section class="whypage" id="why-section">
        <div id="text-item">
            <h1>
              How Do You Use The Url Downloader?
                    </h1>
            <br>
            <p>Step 1) Input your url into search/downloader bar.</p>
            <p>Step 2) Submit the search/downloader bar and wait a few second.</p>
            <p>Step 3) After video pops up, click on right 3 dots.</p>
            <p>Step 4) Click on download!</p>
            <br>
            <br>
            <p><em>See images for help!</em></p>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active img-one">
                <img class="d-block w-100 " src="{{ url_for('static', filename='images/url1.png')}}" alt="First slide">
              </div>
              <div class="carousel-item img-two">
                <img class="d-block w-100" src="{{ url_for('static', filename='images/url2.png')}}" alt="Second slide">
              </div>
              <div class="carousel-item img-three">
                <img class="d-block w-100 " src="{{ url_for('static', filename='images/url3.png')}}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          
    </section>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item p-2"><a href="https://validator.w3.org/check?uri=referer"><button class="btn btn-dark">html validation</button></a> </li>
          <li class="nav-item p-2">        
          <a href="https://jigsaw.w3.org/css-validator/check/referer"><button class="btn btn-dark">css validation</button></a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2023 Waghchoure Designs</p>
      </footer>
      <script src="{{ url_for('static', filename='scripts/jquery.magnific-popup.js')}}"></script>
      <script>
        $(document).ready(function() {
          $('.img-one').magnificPopup({
            items: {
              src: "{{ url_for('static', filename='images/url1.png')}}"
            },
            type: 'image' // this is default type
          });
          $('.img-two').magnificPopup({
            items: {
              src: "{{ url_for('static', filename='images/url2.png')}}"
            },
            type: 'image' // this is default type
        });
        $('.img-three').magnificPopup({
          items: {
            src: "{{ url_for('static', filename='images/url3.png')}}"
          },
          type: 'image' // this is default type
        });
        
        $('#url-form').on('submit', function(event){
          $.ajax({
            data: {url: $("#url-input").val()},
            type:"POST",
            url:"/process"
          })
          .done(function(data){
            if (data.error){
              $('#url-text').show();
              $('#errorAlert').addClass('spaced')
              $('#errorAlert').text(data.error).show();
              $('#successPopup').hide();
            }
            else{
              $('#successPopup').empty(); 
              var videoDiv = $('<div>', {
                  id: 'videoDiv',
                  class: 'videoDivClass',
                  html: `
                     <h2>${data.title}${data.channel}</h2>
                     <video controls>
                         <source src="${data.url}" type="video/mp4">
                     </video>
                  `
              });
              $('#successPopup').append(videoDiv);
              $('#successPopup').addClass('spaced').show();
              $('#errorAlert').hide();
              $('#url-text').hide();
          }
          });
          event.preventDefault();
        });


      });
        
      </script>
      
    </body>
    </html>